body {
  width: 914px;
  height: 171px;
  margin: 33px;
}

h1 {
  display: block;
  text-align: auto;
  width: 914px;
  height: 18px;
  font-size: 26px;
  margin: 17.42px 0;
  font-family: verdan, arial, helvetica, sans-serif;
}

p {
  font-size: 13px;
  line-height: 18px;
  margin: 33px
}